<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="academy.listeners"/>
	<listener class-name="resources.ExtentReporterNG"/>
</listeners>
  <test  name="Validating user login">
    <classes>
    
    
      <class name="academy.HomePage"/>
      </classes>
      </test>
      
      
      <test  name="Validating title in the name">
      <classes>
      <class name="academy.ValidateTitle"/>
      </classes>
      </test>
      <test  name="App Testing">
      <classes>
      <class name="academy.AppTest"/>
      </classes>
      </test>
     
  <!-- Test -->
</suite> <!-- Suite -->